<div class="wk-portlet__body">
  <div class="form-group kt-form__group row">
    <div class="col-lg-4 kt-margin-bottom-20-mobile">
      <mat-form-field class="mat-form-field-fluid">
        <input matInput placeholder="Enter Day" formControlName="day" />
        <mat-hint align="start">Please enter
          <strong>Day</strong>
        </mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="form-group kt-form__group row">
    <div class="col-lg-4 kt-margin-bottom-20-mobile">
      <mat-form-field class="mat-form-field-fluid">
        <input matInput placeholder="Enter Current Time" formControlName="currentTime" />
        <mat-hint align="start">Please enter
          <strong>Current Time</strong>
        </mat-hint>
      </mat-form-field>
    </div>
  </div>
</div>
